@use "../../var.scss" as var;

.Rankings {
    display: flex;
    flex-flow: column;
    height: 50px;
    p {
        font-size: 16px;
        font-family: 'Roboto Flex', sans-serif, Light 300;
        text-align: center;
        margin-top: 3px;
        margin-bottom: 3px;
    }
}

#topChannels {
    display: flex;
    flex-flow: row;
    max-height: 40px;
    align-items: center;
    text-align: center;
    padding: 0;
    margin-left: -50px;
    margin-top: -1px;
    img {
        height: 28px;
        width: 28px;
        margin-right: 10px;
        padding: 0;
    }
    p {
        font-size: 16px;
        font-family: 'Roboto Flex', sans-serif, Light 300;
        padding: 0;
    }
    h3 {
        font-family: 'Yantramanav', sans-serif, Regular 400;
        font-size: 16px;
        margin-right: 20px;
        padding: 0;
    }
}