@use "../_var.scss" as var;

#home-mes {
    display: flow;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size:30px; 
        font-family: "Comic Sans MS", "Comic Sans", cursive;
    }
}


#text_dec{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-size: 1vw;
    
}

.h2-line {

display: flex;
flex: row;
  
}

.h2-line:before,.h2-line:after {
  content: "";
  flex: .5 .5;
  border-bottom: 1px solid #fff;
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.welcome {
    position: absolute;
  top: 0;
  left: 0; 
  right: 0;
  bottom: 0;
 
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
}

.overlay_blue{
   
    position: fixed;
    height: 100%;
    width:29.5%;
    background-image: url('../assets/bluething_welcome.png');
    text-align: center;
    
    
}

.overlay_emblem
{
    pointer-events:none;
   position: absolute;
   height: 100%;
    width:100%;
    right: 9.5%;
   background-image: url('../assets/emblem_welcome.png');
   background-size: 70%;
   background-repeat: no-repeat;
   background-position: center;
}





/* CSS */
.button-22 {
 
  appearance: button;
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  color: #fff;
  cursor: pointer;
  font-family: "Avenir";
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.button-22:active {
  background-color: #006AE8;
}

.button-22:hover {
  background-color: #1C84FF;
}



/* CSS */
.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.afterLogin {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/background_welcome.png");
    background-size: contain;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    //background-repeat: no-repeat;
}

#cut-diamond {
    border-style:solid;
    border-color: transparent transparent rgb(7, 28, 60) transparent;
    border-width: 0 0px 25vh 200px;
    height: 0;
    width: 50%;
    box-sizing: content-box;
    position: relative;
    margin: 0 0 0 0;
    left: 50%;
    opacity: 0.90;
    align-items: center;

    h1 {
      font-size: 50px;
      font-family: 'Pacifico', cursive;
      color: white;
      z-index: 100;
      margin: 0;
      padding: 0;
    }

  }

  #cut-diamond:after {
    content: "";
    position: absolute;
    top: 25vh;
    left: -200px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: rgb(7, 28, 60) transparent transparent transparent;
    border-width: 75vh 500px 0 500px;
    flex-direction: row;
    align-self:end;
    overflow: hidden;

  }

  #emblem {
    pointer-events:none;
    position: absolute;
    height: 80%;
    width:80%;
    left: 72%;
    bottom: 40%;
    background-image: url('../assets/emblem_welcome.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right;
    flex-direction: row;
    align-self:end;
    z-index: 10;
    overflow: hidden;
  }

  .button-66 {
    align-self: center;
    margin-left: 5px;
    background-color: white;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 5px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #303650;
    cursor: pointer;
    display: inline-block;
    font-family: "Avenir";
    font-size: 30px;
    line-height: 50px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-66:hover {
    box-shadow: rgba(0, 0, 0, .6) 2px 8px 80px -50px;
    transform: translate3d(0, 10px, 0);
  }
  
  .button-66:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }