@use "../../_var.scss" as var;

.post-indiv-container {
    display: flex;
    flex-flow: column;
    width: 413px;
    box-sizing: border-box;
    background-color: white;
    font-family: "Avenir"; 
    margin-top: 75px;

}

.post-descript {
    p {
        font-size: 12;
        font-family: "Comic Sans MS", "Comic Sans", cursive;
    }
}

#post_header {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}
