@use "../../_var.scss" as var;

.header_styling {
    height: 65px;
    width: 1300px;
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;

    h1 {
        font-family: 'Lato', sans-serif;
        font-style: italic;
        font-size: 40px;
        float: inline-start;
        position: relative;
        top: -18px;

    }
    a:link { text-decoration: none; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:active { text-decoration: none; }

    img {
        width:85px;
        height:85px;
        position: relative;
        top: -16px;
    }
}

#for_styling {
    color: #88b3de;
}

#ucla_styling {
    color: var.$main-yellow;
}

#logo {
    display: flex;
    flex-flow: row;
}
#anon-toggle {
    position: relative;
    top: -7px;
    left: -38px;

    input[type=checkbox] {
        height: 0;
        width: 0;
        visibility: hidden;
    }
    
    label {
        cursor: pointer;
        width: 60px;
        height: 33px;
        background: #88b3de;
        display: block;
        border-radius: 100px;
        position: relative;
    }
    
    label::after {
        content: '';
        position: absolute;
        top: 4px;
        left: 4px;
        width: 25px;
        height: 25px;
        background: white;
        border-radius: 25px;
        transition: 0.3s;
    }
    
    input:checked + label {
        background: grey;
    }

    input:checked + label::after {
        left: calc(100% - 5px);
        transform: translate(-100%);
    }
    
    label:active::after {
        width: 38px;
    }
}
