@use "../_var.scss" as var;

.submit-page {
    display: flex;
    flex-flow: column;
    position: relative;
    margin-top: 61px;
    right: 0px;
    left: 0px;
    font-family: "Avenir";
    font-size: 16px;
    align-items: center;

    #title {
        position: relative;

        label {
            font-size: 18px;
        }
        input {
            width: 400px;
            border: none;
            font-size: 16px;
            background-color: rgba(255, 255, 255, 0.837);
        }
        input:focus {
            outline: none !important;
            border:1px solid var.$accent-blue;
            box-shadow: 0 0 10px var.$accent-blue;
        }
    }
    #description {
        position: relative;
        textarea {
            font-family: "Avenir";
            border: none;
            resize: none;
            width: 440px;
            height: 400px;
            background-color: rgba(255, 255, 255, 0.837);
        }
        textarea:focus {
            outline: none !important;
            border:1px solid var.$accent-blue;
            box-shadow: 0 0 10px var.$accent-blue;
        }
        border-color: var.$border-color;
        border-width: 1px;
    }
}

#submit-button {
    position: relative;
    margin-top: 5px;
    height: 35px;
    width: 200px;
    border: none;
    text-align: center;
    font-family: "Avenir";
    font-size: 14px;
    border-radius: 25px;
    transition-duration: 0.4s;
    background-color: rgb(243, 243, 243);
}

#submit-button:hover {
    background-color: var.$main-blue;
    color: white;
}