@use "../../../var.scss" as var;

.searchStyling {
    height: 31px;
    width: 850px; //CHANGE THIS
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
    margin-left: 7px; //CHANGE THIS
    border-radius: 10px;
    
    img {
        position: relative;
        top: 5px;
        width: 28px;
        height: 28px;
        border: none;
    }

    input {
        position: relative;
        top: -3px;
        height: 100%;
        width: 350px; //CHANGE THIS
        padding-left: 5;
        padding-right: 2;
        display: inline-block;
        outline: none;
        background-color: white;
        border: none;
        border-bottom: 3px;
        flex-grow: 1;
        font-family: "Avenir";
        font-size: 14px;
        font-weight: 400;
        border-radius: 10%;
    }
}

#button_styling {
    position: relative;
    left: 3px;
    height: 37px;
    width: fit-content;
    border: none;
    text-align: center;
    font-family: "Avenir";
    font-size: 14;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#button_styling:hover {
    background-color: var.$main-blue; /* Green */
    color: white;
}