@use "../../var.scss" as var;

#comment-container {
    display: flex;
    flex-flow: column;
    margin-left: 6px;
    margin-bottom: 6px;
    border-color: var.$border-color;
    border-style: solid;
    border-radius: 5px;
    background-color: white;
    width: 98.3%;

    #comment {
        display: inline-block;
        margin-left: 8px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 25px;
        border-color: var.$border-color;
        border-style: solid;
        border-width: 1px;
        height: fit-content;
        width: 97.3%;
        overflow-wrap: break-word;
        background-color: rgb(238, 238, 238);

        p {
            margin-top: 3px;
            margin-left: 10px;
            margin-right: 10px;
            font-family: "Avenir";
            color: rgb(53, 53, 53);
        }

        img {
            height: 3%;
            width: 3%;
            margin-top: 10px;
            margin-left: 8px;
        }
    }
}