$main-blue: #32639e;
$main-yellow: #deb566;
$background: #f3f3f3;
$border-color: rgb(214, 214, 214);
$accent-blue: #88b3de;

body {
    background-color: #dbe0e7;
    background-image: url('./assets/background.png');
    background-size: 85%;
}