@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Lobster&family=Pacifico&display=swap');

$main-blue: #32639e;
$main-yellow: #ecbb53;
$background: #f3f3f3;
$border-color: rgb(214, 214, 214);
$accent-blue: #88b3de;

body {
    background-color: #dbe0e7;
    background-image: url('./assets/background.png');
    background-size: 85%;
}