@use "../_var.scss" as var;

body {
    background-color: var.$background;
}

.Posts {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

#indiv-posts {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;

}

.Sidebar {
    position: fixed;
    height: 31px;
    top: 20%;
    left: 80%;
    width: fit-content;
}

#submit_button {
    
    border: none;
    text-align: center;
    font-family: "Avenir";
    font-size: 14;
    border-radius: 5px;
    transition-duration: 0.4s;
    background-color: rgb(215, 215, 215);
}

#submit_button:hover {
    background-color: var.$main-blue; /* Green */
    color: white;
}