@use "../_var.scss" as var;

.Posts {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

#indiv-posts {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 70px;

    h1 {
        font-family: "Avenir";
        font-size: 40px;
        color: rgb(45, 71, 92);
    }
}

.SidebarRight {
    display: flex;
    flex-flow: column;
    position: fixed;
    z-index: 9;
    top: 20%;
    left: 76%;
    width: 300px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-color: var.$border-color;
    border-radius: 4px;
    align-items: center;
    
    img {
        width: 100%;
    }
}

.SidebarLeft {
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 10.2%;
    left: 3%;
    width: 300px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-color: var.$border-color;
    border-radius: 4px;
    align-items: center;

    #cropped {
        width: 367px;
        height: 100px;
        object-fit: cover;
        object-position: 0 95% ;
        margin: 0;
    }
}

#submit_button {
    width: 275px;
    height: 45px;
    margin-top: 5px;
    text-align: center;
    font-family: "Avenir";
    font-size: 16px;
    border-radius: 25px;
    transition-duration: 0.4s;
    background-color: rgb(255, 255, 255);
    border-color: var.$accent-blue;
    border-width: 2px;
    margin-bottom: 12px;
    cursor: pointer;
}

#submit_button:hover {
    background-color: var.$main-blue;
    border: none;
    color: white;
}